@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Mono&display=swap');

/* Color Scheme */
:root {
    --color-light: #e4e6eb;
    --color-blue: #0084ff;
}

/* General settings */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

    margin: 0px;
    padding: 0px;
}

.contents {
    width: 90%;
    max-width: 12in;
    margin: 3em auto;
}

/* Title */
header {
    display: grid;
    grid-template-columns: auto max-content max-content;
    border-bottom: black solid 2px;
    margin-bottom: 10px;
}

header * {
    padding: 1em;
}

header a {
    color: black;
}
header a:hover {
    background: var(--color-light);
}

.title {
    font-size: 3em;
    width: auto;
    text-align: center;
}

/* Authors */

.flex-center {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5em;
}

.center {
    text-align: center;
}

#authors a {
    padding: 0.2em;
    font-size: 1.5em;
}

.icon {
    width: 2em;
    height: 2em;
    padding: 0em 0.5em;
}

/* On small screens, show authors in column direction */
@media all and (max-width: 800px) {
  .authors {
    flex-direction: column;
  }
}

/* General layout */
section {
    margin-top: 2em;
    font-size: 1.5em;
}

#method {
    padding: 0.5in;
    text-align: center;
    max-width: calc(100% - 1in);
}

.citation {
    font-family: "Roboto Mono", monospace;
    border: 1px solid black;
    border-radius: 0.3cm;
    background: var(--color-light);
    padding: 0.3cm;

    white-space: pre;
    overflow: auto;
}

/* Example */
.example-container {
    border: 2px solid black;
    width: 90%;
    margin: auto;
}

.example-scenario {
    background: var(--color-light);
    padding: 2em;
    border-bottom: 2px solid black;
}

.example-scenario h1 {
    text-align: center;
}

.example-chatbox {
    padding: 1em;
}

.example-chatbox .message {
    display: flex;
    width: auto;
}

.example-chatbox .left {
    margin-right: 2em;
    justify-content: left;
}

.example-chatbox .right {
    margin-left: 2em;
    justify-content: right;
}

.example-chatbox img {
    width: 1.5em;
    height: 1.5em;
    margin: 0px;
    padding: 0px;
    margin-top: auto;
    margin-bottom: 0.5em;
    border: black solid 1px;
    border-radius: 1em;
}

.example-chatbox .para {
    border-radius: 1em;
    padding: 0.5em 1em;
    margin: 0.5em 0em;
}

.example-chatbox .buyer.para {
    background: var(--color-light);
}

.example-chatbox .seller.para {
    background: var(--color-blue);
    color: white;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-container button {
    border: none;
    background: var(--color-light);
    padding: 1em 2em;
    margin: 0em 0.5em;
}

